
	.btn{
        color: #fff;
	    background-color: #337ab7;
	    border-color: #2e6da4; 
	    display: inline-block;
	    padding: 6px 12px;
	    margin-bottom: 0;
	    font-size: 14px;
	    font-weight: 400;
	    line-height: 1.42857143;
	    text-align: center;
	    white-space: nowrap;
	    text-decoration: none;
	    vertical-align: middle;
	    -ms-touch-action: manipulation;
	    touch-action: manipulation;
	    cursor: pointer;
	    -webkit-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
	    background-image: none;
	    border: 1px solid transparent;
	    border-radius: 4px;
	}
	a.btn:hover{
      background-color: #3366b7;
	}
	.progress{
		margin-top:2px;
	    width: 200px;
	    height: 14px;
	    margin-bottom: 10px;
	    overflow: hidden;
	    background-color: #f5f5f5;
	    border-radius: 4px;
	    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	}
	.progress-bar{ 
		background-color: rgb(92, 184, 92);
		background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.14902) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.14902) 50%, rgba(255, 255, 255, 0.14902) 75%, transparent 75%, transparent);
		background-size: 40px 40px;
		box-shadow: rgba(0, 0, 0, 0.14902) 0px -1px 0px 0px inset;
		box-sizing: border-box;
		color: rgb(255, 255, 255);
		display: block;
		float: left; 
		font-size: 12px;
		height: 20px;
		line-height: 20px;
		text-align: center;
		transition-delay: 0s;
		transition-duration: 0.6s;
		transition-property: width;
		transition-timing-function: ease;
		width: 266.188px;
	}
*{
	margin: 0;
	padding: 0;
}
.slide{
	max-width: 100%;
	height: auto;
	margin: 0 auto;
	position: relative;
	z-index: 999;
	overflow: hidden;
}
.slide ul{
	width: 10000%;
	list-style-type: none;
}
.next_btn{
	position: absolute;
	width: 25px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	opacity: .5;
	vertical-align: middle;
	background: rgba(0,0,0);
	right: 5px;
	top: 50%;
	color: #fff;
	font-family: arial;
	font-size: 20px;
	font-weight: bold;
	display: inline-block;
	cursor: pointer;
	font-family: "ו";
}
.prev_btn{
	position: absolute;
	width: 25px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	opacity: .9;
	vertical-align: middle;
	background: rgba(0,0,0,.1);
	left: 5px;
	top: 50%;
	color: #fff;
	font-family: "ו";
	font-size: 20px;
	font-weight: bold;
	display: inline-block;
	cursor: pointer;
}
.slide ul:after{
	content: '';
	clear: both;
	display: block;
}
.slide ul li{
	float: left;
	text-align: center;
}
.slide ul li img{
	vertical-align: middle;
	max-width: 100%;
}
.slide .circle_btn{
	position: absolute;
	bottom: 15px;
	text-align: center;
	left: 0;
	display: table;
	margin: 0 auto;
	width: 100%;
}
.slide .circle_btn button{
	box-sizing: content-box;
	opacity: .8;
	outline: none;
	border: none;
	padding: 2px 18px;
	background: rgba(255,255,255,.2);
	margin: 2px 5px;
	overflow: hidden;
	transition: all .6s;
	cursor: pointer;
}
.slide .circle_btn button.active{
	background: rgba(167,167,167,.8);
}
